{% extends "parent.html" %}
{% load static %}

{% block title %}New Password{% endblock %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/newpass.css' %}" />
{% endblock %}

{% block content %}
    <div class="container-fluid text-light py-5">
        <header class="text-center">
            <h1 class="display-5">Create New Password</h1>
        </header>
        <form method="post" class="text-light mt-5 mx-5 needs-validation">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-12 container-button">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
        <div class="mt-2 cancel-button">
            <a href="{% url 'settings' %}">
                <button class="btn btn-outline-info">Cancel</button>
            </a>
        </div>
    </div>
{% endblock %}
